[production]
last 2 Chrome major versions
last 2 Firefox major versions
last 2 Safari major versions
last 2 Edge major versions
last 2 ChromeAndroid major versions
last 2 iOS major versions

[test]
node 12

[development]
last 1 Chrome major versions
last 1 Firefox major versions
last 1 Safari major versions
last 1 Edge major versions
