.popper {
  position: absolute;
  background: #eee;
  color: black;
  width: auto;
  min-width: 100px;
  border-radius: 3px;
  /*opacity: 0.9;*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  z-index: 5;
}

.popper-arrow {
  width: 0;
  height: 0;
  position: absolute;
  border: 5px solid transparent;
}

.popper[x-placement="bottom"] .popper-arrow {
  top: -5px;
  left: calc(50% - 5px);
  border-bottom-color: #ccc;
  border-top-width: 0;
  margin: 0 5px;
}

.popper[x-placement="top"] .popper-arrow {
  bottom: -5px;
  left: calc(50% - 5px);
  border-top-color: #ccc;
  border-bottom-width: 0;
  margin: 0 5px;
}

.popper[x-placement="left"] .popper-arrow {
  right: -5px;
  top: calc(50% - 5px);
  border-left-color: #ccc;
  border-right-width: 0;
  margin: 5px 0;
}

.popper[x-placement="right"] .popper-arrow {
  left: -5px;
  top: calc(50% - 5px);
  border-right-color: #ccc;
  border-left-width: 0;
  margin: 5px 0;
}

.popper[x-placement="bottom-start"] .popper-arrow {
  top: -5px;
  left: calc(50% - 5px);
  border-bottom-color: #ccc;
  border-top-width: 0;
  margin: 0 5px;
}

/*.popper[x-placement="right-end"] .popper-arrow {
  left: -5px;
  top: 5px;
  border-right-color: #eee;
  border-left-width: 0;
  margin: 5px 0;
}*/

.popper .equation-editor {
  text-align: center;
  font-family: monospace;
  font-size: 12pt;
  border: none;
  background: transparent;
  /*width: 20em;*/
  min-width: 5em;
  max-width: 50em;
  resize: none;
  overflow: hidden;
  vertical-align: middle;
  margin: 10px;
}

.popper .equation-editor:focus {
  outline: none;
}

.popper .CodeMirror {
  min-width: 400px;
  height: auto;
  min-height: 2em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: 1px solid #ccc;
}

.popper .CodeMirror-scroll {
  max-height: 400px;
}

.popper .menu {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: 1px solid #ccc;
  border-radius: 6px;
  color: #444;
  font-size: 90%;
}

.popper .menu .menu-section {
  padding: 5px 0;
}

.popper .menu .menu-section:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.popper .menu-item {
  padding: 2px 20px;
  cursor: pointer;
}

.popper .menu-item:hover {
  background: #65a3ff;
  color: white;
}

.popper .citation-editor {
  min-width: 400px;
  max-width: 600px;
  height: auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: 1px solid #ccc;
  background: #fff;
}

.popper .conflict-dropdown {
  background: #fff;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 1px;
}

.popper .conflict-option {
  padding: 8px;
  cursor: pointer;
}

.popper .conflict-option-contents {
  font-family: "IBM Plex Serif", "Georgia", Times, serif;
  font-size: 15px;
  line-height: 1.67;
  color: #353535;
}

.popper .conflict-option:hover {
  background: #dcefff;
}

.popper .conflict-option-label {
  margin-bottom: 4px;
  font-size: 12px;
  color: #628ec4;
}

